<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          package = "org.genecash.batteryrange"
          android:versionCode = "1493503251"
          android:versionName = "29-APR-2017 06:00:51 PM">

    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.BLUETOOTH" />

    <application
        android:allowBackup = "false"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:supportsRtl = "true"
        android:theme = "@style/AppTheme">
        <meta-data
            android:name = "com.google.android.geo.API_KEY"
            android:value = "@string/google_maps_key" />
        <activity
            android:name = ".BatteryRange"
            android:label = "@string/title_activity_battery_range"
            android:launchMode = "singleTop">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name = "android.intent.action.SEND" />
                <category android:name = "android.intent.category.DEFAULT" />
                <data android:mimeType = "text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>