<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          xmlns:tools = "http://schemas.android.com/tools"
          package = "org.genecash.batteryrange"
          android:versionCode = "1544873487"
          android:versionName = "15-DEC-2018 06:31:27 AM">

    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.BLUETOOTH" />

    <application
        android:icon = "@mipmap/ic_launcher"
        android:label = "Battery Range"
        tools:ignore = "GoogleAppIndexingWarning">
        <meta-data
            android:name = "com.google.android.geo.API_KEY"
            android:value = "AIzaSyCSjC4Clk9nHfoTJ8Pb1e6Ui8IsPHYIf9I" />

        <activity
            android:name = ".BatteryRange"
            android:label = "Battery Range"
            android:launchMode = "singleTop">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name = "android.intent.action.SEND" />
                <category android:name = "android.intent.category.DEFAULT" />
                <data android:mimeType = "text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".BatterySettings"
            android:label = "Battery Range Settings"
            android:launchMode = "singleTop" />
    </application>
</manifest>